@charset "utf-8"


@font-face {
    font-family: 'IT Graflo Demo';
    src: url('../webfonts/ITGrafloDemo-Regular.woff2') format('woff2'),
        url('../webfonts/ITGrafloDemo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IT Graflo Demo';
    src: url('../webfonts/ITGrafloDemo-Italic.woff2') format('woff2'),
        url('../webfonts/ITGrafloDemo-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}