@font-face {
    font-family: 'IT Graflo Demo';
    src: url('ITGrafloDemo-Regular.woff2') format('woff2'),
        url('ITGrafloDemo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IT Graflo Demo';
    src: url('ITGrafloDemo-Italic.woff2') format('woff2'),
        url('ITGrafloDemo-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

